<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<add key="ConnectionString" value="Data Source=SQL5101.site4now.net;Initial Catalog=DB_A6D32D_DhanLuisaHotel;User Id=DB_A6D32D_DhanLuisaHotel_admin;Password=Newton2021"/>
		<add key="ClientSettingProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>